body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 { 
    color: maroon;
}

header {
    border: solid 2px black;
    margin: 10px;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /*Opções: start end center space-around space-between space-evenly*/
    justify-content: space-between;
    /*align-items é alinhamento vertical
    Opções: start end center baseline stretch*/
    align-items: center;
}

header img {
    width: 200px;  /*Largura*/
    height: 200px; /*Altura*/
    border: solid 1px black; 
}

h1 {
    font-size: 67px;
    color: maroon;
    font-style: italic;
    text-shadow: -4px 4px 2px rgb(183, 180, 180); 
    /*1 número é horizontal, segundo vertical, e terceiro o nível de blur na sombra*/
}

#slogan {
    font-size: 28px;
     color: gray;
}

nav {
    border: solid 2px maroon;
}

nav a {
    color: white;
    text-decoration: none; /*remove o sublinhado*/
}

/*estilo quando o mouse for posicionado em cima do link da barra de navegação*/

nav a:hover {
    color: maroon;
    background-color: white;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*Estilo para não aparecer o roxinho quando viitado um link*/
nav a:visited {
    color: white;
}

nav ul {
    display: flex;
    /*remove os marcadores (list style) (bolinhas da lista)*/
    list-style-type: none;
    /*se quiser os botões centralizados use o (justfy)*/
    justify-content: center;
    margin: 0;
    background-color: maroon;
    padding: 0;
}

nav ul li {
    width: 120px; /*Largura*/
    height: 40px; /*Altura*/
    border: 1px solid white;
    color: white;
    background: maroon;
    display: flex;
    /*Alinhamento vertical dos elementos junto do flex*/
    align-items: center;
    /*Alinhamento horizontal dos elementos junto do flex*/
    justify-content: center;
}

main {
    border: solid 2px navy;
}

section {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column; /*define direção do Flex <-> para ^ e baixo*/
    justify-content: space-between; /*quando mudamos a direção dos elementos no flex para coluna, o justfy e align invertem (horizontal -> vertical, etc)*/
    align-items: center;
}

.card img {
    width: 90%;
    height: 350px;
    border: 1px solid;
}

.card h3 {
    font-size: 22px;
    color: maroon;
    text-align: center;
}

.card p {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.card span {
    font-size: 22px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card button {
    margin: 10px;
    border: 1px solid maroon;
    border-radius: 6px;
    background-color: maroon;
    color: white;
    padding: 6px;
    font-size: 20px;
}

footer {
    border: solid 2px gray;
    background-color: gray;
    color: white;

}

footer address {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

#redes ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#redes ul li {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    border-radius: 6px;
    display: flex;
    justify-content: center;/*horizontal*/
    align-items: center; /*vertical*/

}