body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 { 
    color: maroon;
}

header {
    border: solid 2px black;
    margin: 10px;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /*Opções: start end center space-around space-between space-evenly*/
    justify-content: space-between;
    /*align-items é alinhamento vertical
    Opções: start end center baseline stretch*/
    align-items: center;
}

header img {
    width: 200px;  /*Largura*/
    height: 200px; /*Altura*/
    border: solid 1px black; 
}

nav {
    border: solid 2px maroon;
}

main {
    border: solid 2px navy;
}

footer {
    border: solid 2px gray;
}